*{
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/Vintage_Background.jpg");
  background-size: cover;
  background-position: center;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameTitle{
  color: #DD952F;
  display: flex;
  justify-content: center;
  align-items: center;
  
  word-spacing: 20px;
  font-size: 100px;
  font-weight: bolder;
  -webkit-text-stroke: 2px black;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.playerMoves{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}


.playerMoves > div{
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  background-color: lightgray;
  border: 3px solid black;
  min-height: 100px;
  max-width: 300px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:x-large;
}

.playerMoveHover{
  transform: scale(1.1);
}

.roundResults{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.playerNames{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.playerNames > div{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gameScore{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.gameScore > div{
  color: purple;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.scoreDefinition{
  display:flex;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
}

.playAgainButton{
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  flex: 1;
  background-color: lightgray;
  border: 3px solid purple;
  min-height: 50px;
  max-width: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}